# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Cache
.angular/
.cache/
.vite/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test & coverage
coverage/
tmp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example
!env.example

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
.vercel
